@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;1,400&family=Source+Sans+Pro&display=swap");
html {
  font-size: 62.5%;
}
body {
  font-family: "Crimson Text", sans-serif;
}
a {
  font-size: 1.5rem;
  color: black;
}

button {
  border: none;
  background-color: white;
  font-family: inherit;
  display: inline-block;
}
